
:root {
    --vh: 30vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb !important;
    overflow-wrap: break-word;
}

/*OPTIONS*/

.hidden-w {
    min-width: 0 !important;
    width: 0 !important;
}

/* HEADER */

/* header menu */

.menu-main, .menu-auth {
    display: flex;
    align-items: center;
}

.menu-auth {
    margin-left: auto;
    margin-right: 0;
}

.menu-main a, .menu-auth a {
    text-decoration: none;
}

.title {
    position: absolute;
    width: 8em;
    text-align: center;
    left: calc(50% - 4em);
    color: #ebebeb;
    font-size: xx-large;
}

.avatar {
    display: flex;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    background-color: #ebebeb;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
}

.notification-menu {
    transition: .2s;
    display: none;
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 90%;
    width: 20em;
    height: auto;
    padding: 1em;
    background-color: white;
    -webkit-box-shadow: 0 9px 28px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 9px 28px -1px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
}

.active {
    display: block;
}

.notification-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: var(--vh);
}

.ntf-item {
    background-color: #ebebeb;
    border-radius: .2em;
    margin: .4em 0;
    padding: .2em;
    width: 100%;
}

.ntf-title {
    font-size: 1.1em;
    color: rgba(105, 161, 29, 0.78);
    display: flex;
    justify-content: space-between;
}

.ntf-content {

}

/* FIELDS */

/* pagination */

.pagination {
    position: absolute;
    top: 0;
    width: 100%;
}

.prev-page {
    position: absolute;
    width: 5em;
    left: 0;
}

.page-num {
    padding: .2em 0;
    margin: .2em auto;
    border-radius: .5em;
    width: 5em;
    user-select: none;
    background-color: rgba(202, 255, 127, 0.8);
}

.next-page {
    top: 0;
    position: absolute;
    width: 5em;
    right: 0;
}

/* button */

.button {
    width: auto;
    background-color: #caff7f;
    padding: 0 .4em 0 .4em;
    margin: .2em;
    border-radius: .2em;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    border: 0 none;
    justify-content: center;
    user-select: none;
}

.button:hover {
    background-color: rgba(202, 255, 127, 0.8);
}

/* button-header */

.button-header {
    padding: 0.5em;
    font-weight: bolder;
}

.button-header a {
    color: white;
}

.button-header a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* button-ico */

#notification-icon {
    position: absolute;
}

.notification-count {
    color: white;
    font-size: initial;
}

.button-ico {
    height: 36px;
    width: 36px;
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ico:hover {
    cursor: pointer;
}

/* close-button */

.close-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    outline: none;
    border: 0 none;

}

.close-button::before {
    display: block;
    position: relative;
    content: "";
    top: 9px;
    height: 2px;
    width: 20px;
    background-color: black;
    transform: rotate(135deg);
}

.close-button::after {
    display: block;
    position: relative;
    top: 7px;
    content: "";
    height: 2px;
    width: 20px;
    background-color: black;
    transform: rotate(45deg);
}

/* inputs */

.search-line {
    width: 95%;
    margin: .4em;
    border-radius: 0.5em;
    border: 2px solid #ebebeb;
}

/* CONTENT BODY */

.content-space {
    display: flex;
}

.content {
    /*padding: 1em;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    overflow: hidden;
}

.right-content {
    padding: 10em 1em;
    width: 10%;
    height: 100%;
    overflow: hidden;

}

.left-content {
    padding: 10em 1em;
    width: 10%;
    height: 100%;
    overflow: hidden;
}

.content-block {
    margin-top: .2em;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.05));
}

.loading {
    display: flex;
    align-self: center;
}

/* flash messages */

.flash-msg {
    margin: 0 auto;
    width: max-content;
    background-color: #caff7f;
    border-radius: 0.5em;
    padding: 0.3em;
}


/* content blocks */

.bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bars a {
    text-decoration: none;
    color: white;
    border-radius: .2em;
    padding: 1em;
    margin: .1em;
    width: max-content;
    font-weight: bold;
}

.bars a:hover {
    color: rgba(0, 0, 0, 0.45);
    background-color: #caff7f !important;
    transition: .3s;
}

@media (max-width: 991px) {
    .content {
        width: 100%;
    }

    .left-content, .right-content {
        display: none;
    }

    .offcanvas {
        background-color: rgb(42, 42, 42) !important;
    }
}