
:root {
    --vh: 30vh;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    font-size: larger;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.4em;
    display: flex;
    z-index: 1;
    align-items: center;
}

/* header menu */

.menu-main, .menu-auth {
    display: flex;
    align-items: center;
}

.menu-auth {
    margin-left: auto;
    margin-right: 0;
}

.menu-main a, .menu-auth a {
    text-decoration: none;
}

.title {
    position: absolute;
    width: 8em;
    text-align: center;
    left: calc(50% - 4em);
    color: #ebebeb;
    font-size: xx-large;
}

.avatar {
    display: flex;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    background-color: #ebebeb;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: black;
}

.notification-menu {
    transition: .2s;
    display: none;
    position: absolute;
    right: 1em;
    top: 90%;
    width: 20em;
    height: auto;
    max-height: var(--vh);
    padding: 1em;
    background-color: white;
    -webkit-box-shadow: 0 9px 28px -1px rgba(0,0,0,0.3);
    box-shadow: 0 9px 28px -1px rgba(0,0,0,0.3);
    border-radius: 0.5em;
}

.active {
    display: block;
}

#ntf-mn-arrow {
    position: absolute;
    left: calc(57%);
    top: -.5em;
    transform: rotate(45deg);
}

.notification-list {
    display: flex;
    justify-content: center;
    overflow: auto;
    max-height: var(--vh);
}

.ntf-item {
    background-color: #ebebeb;
    border-radius: .2em;
    margin: .4em 0;
    padding: .2em;
}

.ntf-title {
    font-size: 1.1em;
    color: rgba(105, 161, 29, 0.78);
    display: flex;
    justify-content: space-between;
}

.ntf-content {

}

/* FIELDS */

/* button */

.button {
    width: auto;
    background-color: #caff7f;
    padding: 0 .4em 0 .4em;
    margin: .2em;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    border: 0 none;
    justify-content: center;
}

.button:hover {
    background-color: rgba(202, 255, 127, 0.8);
}

/* button-header */

.button-header {
    padding: 0.5em;
    font-weight: bolder;
}

.button-header a {
    color: white;
}

.button-header a:hover {
    color: rgba(255, 255, 255, 0.75);
}

/* button-ico */

#notification-icon {
    position: absolute;
}

.notification-count {
    color: white;
    font-size: initial;
}

.button-ico {
    height: 36px;
    width: 36px;
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-ico:hover {
    cursor: pointer;
}

/* close-button */

.close-button {
    height: 20px;
    width: 20px;
    cursor: pointer;
    outline: none;
    border: 0 none;

}

.close-button::before {
    display: block;
    position: relative;
    content: "";
    top: 9px;
    height: 2px;
    width: 20px;
    background-color: black;
    transform: rotate(135deg);
}

.close-button::after {
    display: block;
    position: relative;
    top: 7px;
    content: "";
    height: 2px;
    width: 20px;
    background-color: black;
    transform: rotate(45deg);
}

/* inputs */

.search-line {
    width: 95%;
    margin: .4em;
    border-radius: 0.5em;
    border: 2px solid #ebebeb;
}

/* CONTENT BODY */

.content {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.right-content {
    padding: 10em 1em;
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
}

.left-content {
    padding: 10em 1em;
    position: absolute;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
}

.content-block {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.05));
}

/* flash messages */

.flash-msg {
    margin: 0 auto;
    width: max-content;
    background-color: #caff7f;
    border-radius: 0.5em;
    padding: 0.3em;
}


/* BLUEPRINT CHAT */

/* chat body */

.chat-window {
    width: 100%;
    min-height: 45em;
    max-height: 45em;
    background-color: white;
    border-radius: 0.5em;
    display: flex;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.05));
    position: relative;
}

.chat-list {
    border-right: 2px solid #ebebeb;
    width: 20%;
    border-radius: 0.5em 0 0 0.5em;
    padding-top: 1em;
    position: relative;
    overflow: auto;
    transition: 0.1s;
}

.chat-list-items {
    display: flex;
    flex-direction: column;
}

.chat-list-items .user-item {
    width: 100%;
    padding: 1em 0;
}

.chat {
    padding: 0.4em;
    border-top: 1px solid black;
}

.chat-message-list {
    width: 100%;
    border-radius: 0 0.5em 0.5em 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #eeeeee;
    border-radius: 0.5em;
    padding: .4em;
    margin: .2em;
    word-break: break-all;
}

.message time {
    font-size: small;
}

.me {
    align-self: flex-end;
}

.me .message-from {
    text-align: end;
}

.message-from {
    padding-bottom: 0;
    text-decoration: none;
}

.message-content {
    white-space: pre-line;
}

.chat-log {
    overflow: auto;
    height: 100%;
    width: calc(100% - 1em);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5em;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
}

.search-user-window {
    display: none;
}

#search-user-result {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-item {
    padding: 1em;
    background-color: #f8f8f8;
    width: 40%;
    border-top: 2px solid #ebebeb;
    cursor: pointer;
    font-size: 1em;
    transition: 0.3s;
}

.user-item a {
    text-decoration: none;
}

.current {
    background-color: #d9ffa7;
}

.user-item:hover {
    background-color: #fdfdfd;
    font-size: 1.1em;
    filter: drop-shadow(2px 3px 5px #dcdcdc);
}

/* chat actions */

.act-new-chat .chat-list {
    width: 100%;
    transition: 0.1s;
}

.act-new-chat .chat-message-list {
    display: none;
    transition: 0.1s;
}

.act-new-chat #add-new-chat {
    display: none;
}

.act-new-chat .search-user-window {
    display: block;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid #ebebeb;
}

.act-new-chat .search-and-close {
    display: flex;
    align-items: center;
    padding: 1em;
}

/* chat fields */

textarea {
    border-radius: 0.5em;
    border: 2px solid #ebebeb;
    resize: none;
    width: 100%;
    margin: .5em;
}

.chat-input {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}



