body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}
header {
    position:sticky;
    top: 0;
    font-size: larger;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.4em;
    display: flex;
    z-index: 1;
    align-items: center;
}
.menu_main, .menu_auth {
    display: flex;
    align-items: center;
}
.menu_auth {
    margin-left: auto;
    margin-right: 0;
}
.title {
    position: absolute;
    width: 8em;
    text-align: center;
    left: calc(50% - 4em);
    color: #ebebeb;
    font-size: xx-large;
}
.button {
    background-color: #caff7f;
    margin: 0.2em;
    padding: 0.5em;
    border-radius: 0.5em;
}
.menu_main a, .menu_auth a {
    text-decoration: none;
    color: #000000;
}
.content {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.right_content {
    padding-top: 10em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 10em;
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    top: 0;
}
.left_content {
    padding-top: 10em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 10em;
    position: absolute;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
}
.info_block {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.05));
}
.info_block h3 {
    background-color: #caff7f;
    border-radius: 0.5em;
    padding: 0.1em;
}
.flash_msg {
    margin: 0 auto;
    width: max-content;
    background-color: #caff7f;
    border-radius: 0.5em;
    padding: 0.3em;
}
.avatar {
    display: flex;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    background-color: #ebebeb;
    align-items: center;
    align-content: center;
    justify-content: center
}