{% extends 'base.html' %}
{% block content %}
    <h2>Главная страница</h2>
    <div class="content-block">
        {% if current_user.is_authenticated %}
            <p>Привет, {{ current_user.login }}!</p>
        {% endif %}
        <div class="bars">
            <a href="/" style="background-color: #6495ed;">РАЗДЕЛ 1</a>
            <a href="/" style="background-color: #d2691e;">РАЗДЕЛ 2</a>
            <a href="/" style="background-color: #8b008b;">РАЗДЕЛ 3</a>
            <a href="/" style="background-color: #5f9ea0;">РАЗДЕЛ 4</a>
        </div>

    </div>
    <div class="content-block" style="padding: 5em">
        <h2>Dictum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Amet purus gravida quis blandit turpis cursus. Ornare aenean euismod elementum nisi quis.
            Semper eget duis at tellus at urna. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum.
            Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Feugiat vivamus at augue eget arcu
            dictum varius. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Est ultricies integer
            quis auctor elit sed vulputate mi sit. Nec feugiat nisl pretium fusce id. Enim eu turpis egestas pretium. Eu
            nisl nunc mi ipsum. Vitae purus faucibus ornare suspendisse sed nisi lacus. Condimentum mattis pellentesque
            id nibh tortor id aliquet.</p>
        <p>Scelerisque mauris pellentesque pulvinar pellentesque. Id nibh tortor id aliquet lectus proin. Nisi est sit
            amet facilisis magna. Lorem mollis aliquam ut porttitor leo a. Mattis enim ut tellus elementum sagittis
            vitae et leo duis. Massa vitae tortor condimentum lacinia quis vel eros donec. Enim nec dui nunc mattis
            enim. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Vitae turpis massa sed elementum
            tempus. Ornare arcu odio ut sem nulla pharetra. Eget nullam non nisi est sit amet. Eget gravida cum sociis
            natoque penatibus et. Dignissim diam quis enim lobortis scelerisque fermentum dui. Egestas fringilla
            phasellus faucibus scelerisque. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Senectus et
            netus et malesuada. Dui ut ornare lectus sit. Faucibus ornare suspendisse sed nisi lacus sed viverra.</p>
        <p>Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Posuere morbi leo urna molestie at
            elementum eu facilisis sed. Risus feugiat in ante metus dictum at. Arcu ac tortor dignissim convallis. Id
            leo in vitae turpis massa sed. Ornare arcu odio ut sem nulla pharetra diam sit. Id consectetur purus ut
            faucibus pulvinar. Eget nulla facilisi etiam dignissim diam quis enim lobortis. Sed blandit libero volutpat
            sed cras. Libero id faucibus nisl tincidunt eget nullam non. Phasellus faucibus scelerisque eleifend donec
            pretium. Dictum fusce ut placerat orci nulla pellentesque dignissim. Proin nibh nisl condimentum id. Neque
            laoreet suspendisse interdum consectetur libero id. Quam lacus suspendisse faucibus interdum posuere lorem
            ipsum dolor. In hac habitasse platea dictumst vestibulum rhoncus est.</p>
        <p>Placerat orci nulla pellentesque dignissim enim. Mauris in aliquam sem fringilla ut. Netus et malesuada fames
            ac turpis egestas. Sit amet nisl suscipit adipiscing bibendum est ultricies integer. Aliquet nec ullamcorper
            sit amet risus nullam. In aliquam sem fringilla ut morbi tincidunt augue. Faucibus interdum posuere lorem
            ipsum dolor sit amet consectetur adipiscing. Dolor sit amet consectetur adipiscing elit duis. Sit amet
            luctus venenatis lectus magna fringilla. In fermentum posuere urna nec. Cursus in hac habitasse platea
            dictumst quisque sagittis purus. Volutpat est velit egestas dui id ornare arcu. Phasellus faucibus
            scelerisque eleifend donec. Eleifend donec pretium vulputate sapien nec sagittis aliquam. Dui sapien eget mi
            proin. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Eget magna fermentum iaculis eu. Arcu
            vitae elementum curabitur vitae nunc sed. In hendrerit gravida rutrum quisque non. Arcu dui vivamus arcu
            felis bibendum ut tristique et egestas.</p>
        <p>Sed risus pretium quam vulputate dignissim suspendisse. Scelerisque fermentum dui faucibus in. Viverra
            accumsan in nisl nisi scelerisque eu ultrices vitae auctor. A diam maecenas sed enim. Ac turpis egestas
            integer eget aliquet nibh praesent tristique magna. Vel pretium lectus quam id leo in vitae. Nunc lobortis
            mattis aliquam faucibus. Eu facilisis sed odio morbi quis. In nulla posuere sollicitudin aliquam ultrices
            sagittis. Nibh nisl condimentum id venenatis a condimentum. Tempor id eu nisl nunc mi ipsum. Semper auctor
            neque vitae tempus. Lectus magna fringilla urna porttitor. Pellentesque dignissim enim sit amet venenatis
            urna cursus eget. Suspendisse sed nisi lacus sed viverra tellus. Faucibus turpis in eu mi bibendum neque.
            Sodales ut etiam sit amet nisl. Nisl vel pretium lectus quam. Nunc faucibus a pellentesque sit amet
            porttitor eget.</p>
    </div>
{% endblock content %}