{% extends 'base.html' %}
{% block content %}
    <h3>Авторизация</h3>
    <form method="POST" action="/login">
        {% for flash_msg in get_flashed_messages() %}
        <div class="flash_msg">{{ flash_msg }}</div>
        {% endfor %}
        <label>Логин</label><br>
        {{ form.login }}<br><br>
        <label>Пароль</label><br>
        {{ form.password}}<br><br>
        <input type="submit" value="Войти">
    </form>
{% endblock content %}
{% block right_content %}
    {{ super() }}
{% endblock %}
