{% extends 'base.html' %}
{% block content %}
    <h2>Авторизация</h2>
    <div class="content-block">
        <form method="POST" action="/login">
            {% for flash_msg in get_flashed_messages() %}
            <div class="flash-msg">{{ flash_msg }}</div>
            {% endfor %}
            {{ form.login.label }}<br>
            {{ form.login }}<br><br>
            {{ form.password.label }}<br>
            {{ form.password }}<br><br>
            <input class="button" type="submit" value="Войти">
            <a href="/register">Новый аккаунт</a>
        </form>
    </div>
{% endblock content %}

