{% set sum = msg_notifications + current_user.notifications|count %}

{% if sum %}
{% if msg_notifications %}
    <div class="ntf-item">
        <div class="ntf-title">Новое сообщение!</div>
        <div class="ntf-content">Непрочитанных сообщений в чате: {{ msg_notifications }}</div>
    </div>
{% endif %}

{% for notification in current_user.notifications|reverse %}
    <div class="ntf-item">
        <div class="ntf-title">{{ notification.title }}
            <div class="ntf-date">{{ notification.date.strftime("%H:%M") }}</div>
        </div>
        <div class="ntf-content">{{ notification.content }}</div>
    </div>
{% endfor %}

{% else %}
Уведомлений нет.
{% endif %}