{% import 'macros.html' as macros %}
<div class="chat-list" id="chat-list">

    <div class="control">
        <div class="button" id="add-new-chat">+</div>
    </div>

    <div class="search-user-window">

        <div class="search-and-close">

            <input type="search" class="search-line" id="search-users-for-new-chat" placeholder="Поиск пользователей">
            <div class="close-button" id="close-new-chat"></div>

        </div>

        <div id="search-user-result"></div>

    </div>

    <div class="chat-list-items" id="chat-list-items">

        {% if recipient %}
            <script type="text/javascript">let socket = io();
            socket.on('connect', function () {
                socket.emit('join', {chat: '{{ current_chat.id }}'});
            });
            socket.on('received_message', function (data) {
                data.me = (data.sender.id === {{ recipient.id }}) ? false : true;
                createMessage(data);
            })</script>
            {% for chat in chats %}
                    <div class="user-item{% if recipient in chat.users and recipient.id != current_user.id %} current{% endif %}" id="user-item" user_id="{{ macros.chat_recipient_id(chat, current_user) }}">
                        <a href="/profile/{{ macros.chat_recipient_id(chat, current_user) }}">{{ macros.chat_recipient_login(chat, current_user) }}</a>
                    </div>
            {% endfor %}
        {% else %}
            {% for chat in chats %}
                <div class="user-item" id="user-item" user_id="{{ macros.chat_recipient_id(chat, current_user) }}">
                    <a href="/profile/{{ macros.chat_recipient_id(chat, current_user) }}">{{ macros.chat_recipient_login(chat, current_user) }}</a>
                </div>
            {% endfor %}
        {% endif %}

    </div>

</div>

<div class="chat-message-list">

    {% if recipient %}
        <input type="search" class="search-line" id="search-message" placeholder="Поиск сообщений">

        <div class="chat-log" id="chat-log">
            {% for message in current_chat.messages %}
                <div class="message{% if message.user.id == current_user.id %} me{% endif %}">
                    <a class="message-from" href="../profile/{{ message.user.id }}">{{ message.user.login }} <time datetime="{{ message.date.strftime("%Y:%M:%D:%H:%M") }}">{{ message.date.strftime("%H:%M") }}</time></a>

                    <div class="message-content">{{ message.content }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="chat-input" id="chat-input" send_to="{{ recipient.id }}">
            {{ type_message_form.attach_button }}
            {{ type_message_form.input_message }}
            {{ type_message_form.send_button }}
        </div>

    {% else %}
        <h3>Диалог не выбран</h3>
    {% endif %}

</div>
