<div class="chat-list" id="chat-list">
    <div class="control">
        <div class="button" id="add-new-chat">+</div>
    </div>

    <div class="search-user-window">
        <div class="input-line">
            <input type="search" class="search-line" id="search-users-for-new-chat" placeholder="Поиск пользователей">
            <div class="close-button" id="close-new-chat"></div>
        </div>

        <div id="search-user-result"></div>
    </div>

    <div class="chat-list-items" id="chat-list-items">
    </div>
</div>

<div class="chat-message-block" id="chat-message-block">
    <div class="button" id="show-chat-list"><</div>
    <a href="" id="current-user-name" style="text-align: center; width: 100%; text-decoration: none">123</a>
    <script type="text/javascript">
        socket.on('received_message', function (message) {
            if (message.chat_id == chat_data.id) {
                if (toString(message.sender.id) === chat_data.r_id) {
                    socket.emit('chat is read', {chat_id: message.chat_id})
                }
                let current_date = new Date(message.date).toISOString().slice(0, 10)
                if (current_date !== chat_data.last_message_date) {
                    chat_log.append(dateH(current_date));
                }
                chat_log.append(createMessage(message))
                chat_log.scrollTo(0, chat_log.scrollHeight)
            }
            getDialogTabs()
        });
    </script>
    <div id="search-message">
        <div class="input-line">
            <input type="search" class="search-line" id="search-message-line" placeholder="Поиск сообщений">
            <div class="close-button" id="close-search-message"></div>
        </div>

        <div id="search-message-result"></div>
    </div>


    <div class="chat-log" id="chat-log"></div>

    <div class="chat-input" id="chat-input">
        {{ type_message_form.input_message }}
        {{ type_message_form.send_button }}
    </div>
</div>
